<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <meta charset="UTF-8">
    <title>Misslyckades</title>
</head>

<body>
    <main>
        <h1>Misslyckades</h1>
        <p>
           <a href="/user">OK</a>
        </p>
    </main>
</body>

</html>
