<% include parts/header %>
<p>Väntar på matchning...</p>
<script src="/socket.io/socket.io.js" defer></script>
<script src="https://vuejs.org/js/vue.js" defer></script>
<script src="/js/waiting.js" defer></script>
<div id="wait"></div>
<% include parts/footer %>
