<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="https://vuejs.org/js/vue.js" defer></script>
        <script src="/js/main.js"></script>
        <meta charset="UTF-8">
        <title><%=title %></title>
    </head>

    <body>
        <form  method="post" action="<%=action %>" id="form">
            <main>
            <div id="top">
                <header><h1><%=title %></h1></header>
            </div>